<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bookStore">
      <h2 data-cy="bookStoreDetailsHeading"><span jhiTranslate="fsDevInterviewApp.bookStore.detail.title">Book Store</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bookStore.id }}</span>
        </dd>
        <dt><span jhiTranslate="fsDevInterviewApp.bookStore.bookStoreName">Book Store Name</span></dt>
        <dd>
          <span>{{ bookStore.bookStoreName }}</span>
        </dd>
        <dt><span jhiTranslate="fsDevInterviewApp.bookStore.postalCode">Postal Code</span></dt>
        <dd>
          <span>{{ bookStore.postalCode }}</span>
        </dd>
        <dt><span jhiTranslate="fsDevInterviewApp.bookStore.city">City</span></dt>
        <dd>
          <span>{{ bookStore.city }}</span>
        </dd>
        <dt><span jhiTranslate="fsDevInterviewApp.bookStore.stateProvince">State Province</span></dt>
        <dd>
          <span>{{ bookStore.stateProvince }}</span>
        </dd>
        <dt><span jhiTranslate="fsDevInterviewApp.bookStore.book">Book</span></dt>
        <dd>
          <span *ngFor="let book of bookStore.books; let last = last">
            <a [routerLink]="['/book', book.id, 'view']">{{ book.title }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/book-store', bookStore.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
